.container .row {
  margin-top: 50px;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.input-group { 
    margin-bottom:10px; 
}

.panel .panel-heading {
    background-color: #222;
    border-color: #080808;
    color: whitesmoke;
}

.panel .panel-footer {
    background-color: #222;
    border-color: #080808;
    color: whitesmoke;
}

