footer {
    margin-top: 100px;
    padding: 20px 0px;
    background-color: #222;
    border-color: #080808;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    bottom: -220px;
    min-height: 120px;
}

.footer-references {
    margin-right: 100px;
    color: whitesmoke;
}

.footer-copyright {
    font-size: 12px;
}

   
a:hover {
    color: whitesmoke;/* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: none;
}

.wrap {
    position: relative;
    min-height: 450px;
}