body {     /*index*/
    background-color:#505050;
    color: whitesmoke;
}

/*index*/
/* цвет текста, содержащий название сайта или бренда */
.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

/*index*/
/* Цвет пунктов навигационного меню */
.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
    padding-left: 70px;
}

.block {
    margin-top: 100px;
}