.container .row {
  margin-top: 50px;
}

#carousel {
    height: auto;
}


.carousel-inner .item img{
    width: 100%;
}


body {
    background-color:#505050;
    color: whitesmoke;
}


.item .carousel-caption {
     color: whitesmoke;
}


.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke;
    padding-left: 70px;
}


.about {
    margin-top: 100px;
    padding-top: 50px;
    border: ridge;
    text-align:left;
    border-radius: 8px;
}

.about-photo {
     margin-top: 100px;
     padding-top: 50px;
}
