.block {
    margin-top: 100px;
}

.cell {
    border: 1px solid whitesmoke;
    text-align: center;
    color: whitesmoke;
    background-color: #222;
}

.class-lesmills {
    color: #f08080;
}

.class-rpm {
    color: #1e90ff;
    font-weight: bold;
}

.class-combat {
    color: limegreen;
    font-weight: bold;
}

.class-pump {
    color: red;
    font-weight: bold;
}

.class-balance {
    color: #adff2f;
    font-weight: bold;
}